@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
#root{
  display: contents;
}
body{
    background-image: url('https://cdn.pixabay.com/photo/2023/01/25/21/19/moon-7744608_1280.png');
    background-repeat: repeat-y;
    background-size: cover;
    color:#E2D989 !important;
    font-family: "Anta", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important; 
}

table tr:nth-child(odd){background-color: #32055B;}

table tr:hover {background-color: #654B7C;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #32055B;
  color: #E2D989;
  padding: 10px;
}

table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #FFF6D5;
    
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 60, 145, 0.815);
    border-radius: 2%;  
    gap: 10px;
    width: 30%;
}

.Button h2{
    font-family: "Anita", sans-serif !important;
    font-weight: bold !important;
    font-size: small !important;
    font-weight: 400 !important;
}

h2{
    text-align: center !important;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Button{
    font-family: "Anita", sans-serif !important;
    text-decoration: none;
    color: #F8E5A3;
}

.Button h1{
    font-family: "Anita", sans-serif !important;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold !important;
}


.Button:hover{
    opacity: 0.5;
    cursor:pointer;
}

.center form{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center form input{
    margin-bottom: 20px;
}

#statusText{
    margin: 0px;
    margin-top: -10px;
}